html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sombra{box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.50),0 4px 20px 0 rgba(0,0,0,0.50)}

.corpo{
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.botao{
  border-radius: 5px!important;
  width: 200px;
  margin: 10px;
  font-weight: bold;
}

.coluna{
  display: flex;
  flex-direction: column;
}